.login{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center ;
  
    .form-container{
        width: 30%;
        padding: 24px;
        border: 1px solid $hr_gray5;
        border-radius: 20px;
        max-height: 100vh;


    }
    .banner-title{
      padding: 24px;
      h3{ 
        text-align: center;
        background-color: $hr_accent;
        padding: 20px;
        border-radius: 20px;
        }
        
       
    }
    .form{
        padding: 24px;
        .login-input{
            margin-top: 10px;
           
        }
    }
    .login-btn{
        width: 100%;
        margin-top: 20px;
    }
    .admin-btn{
        width: 100%;
        margin-top: 0px;
        text-align: center;
        background-color: $hr_gray3;
        padding: 10px;
        border-radius: 20px;
        color: white;

    }

}