.dashboard{
    display: flex;
    height: 100vh;   // for  dashboard whole cover height here
    padding: 12px;
    background-color: $hr_background;
    .side-nav-bar{
      flex-basis:20% ;
      max-width: 250px;
      min-width: 200px;
      background-color:$hr_background;
     }
     .main-container{
     flex-basis: 80%;
     border-radius: 24px;
     background-color:$hr_white;

    }
}